services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      api:
        condition: service_started

  api:
    build: .
    container_name: payments-api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      REDIS_URL: redis://host.docker.internal:6379 # Atualizar para redis de produção quando existir;
    volumes:
      - .:/app
    ports:
      - "3003:3003"

  consumer:
    image: node:22-alpine
    container_name: payments-consumer
    working_dir: /app
    command: yarn start:consumer
    volumes:
      - .:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
